<blue>Yes, <yellow>how <underline>many times must</underline> a man look up
Before he can see the sky?</yellow>

Yes, how many ears must one man have</blue>
<cyan><dim>Before </cyan>he</dim> can hear people cry?

Yes, how many deaths will it take till he knows
That too many people have died?

The answer my friend is blowin' in the wind
The answer is blowin' in the wind.
